.main {
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow:scroll;
}

.logo {
    position: fixed;
    cursor: pointer;
    top: 35px;
    left: 30px;
    height: 35px;
}

.privateBackground {
    transform: rotate(-20deg);
    width: 150vw;
    height: 150vh;
    font-weight: 500;
    opacity: 0.3;
    font-size: 14px;
    pointer-events: none;
    position: absolute;
    font-size: 14px;
    z-index: 0;
}

.superButton {
    background-color: rgb(3, 3, 37);
    color: whitesmoke;
    padding: 1%;
    border-radius: 6%;

}



.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
  
    padding: 1rem;
  }


  .header .topnav {
    opacity: 0.9;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .header .topnav a {
    font-family: "Montserrat";
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 24px;
  }
  
  /* Change the color of links on hover */
  .header .topnav a:hover {
    /* background-color: #51cea0; */
    color: #51cea0;
  }
  
  /* Add a color to the active/current link */
  .header .topnav a.active {
    /* background-color: #51cea0; */
    color: #51cea0;
  }
  
  .homeWrapper {
    text-align: center;
    padding: 6em 3em;
  }
  .homeWrapper .homeText {
    color: rgb(10, 202, 202);
    font-family: "Poppins";
    font-weight: 600;
    margin-bottom: 1em;
  }
  .homeWrapper .homeText2 {
    
    color: rgb(0, 0, 0);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size:300%;
    font-weight: 500;
    margin-bottom: 1em;
  }

  .homeWrapper .homeImg {
    margin-bottom: 4.5em;
  }

  .home {
    overflow: auto;
  }

  .pointers {
    font-style: italic;
    font-weight: 800;
  }

  .homeFooter {
    background: #000;
    padding: 1em 0;
    margin-top: 5em;
  }
  .homeFooter .footerLink {
    display: flex;
    align-items: center;
    height: 100%;
  }
  .homeFooter .footerNav {
    color: #e6e8e9;
    text-decoration: none !important;
    display: inline-block;
    margin-right: 1.7em;
    transition: all ease-in-out 200ms;
    font-family: "Montserrat";
  }
  .homeFooter .footerNav:hover {
    color: aqua;
  }
  .homeFooter .footerNav2 {
    color: #e6e8e9;
    text-decoration: none !important;
    display: inline-block;
    margin-right: 1.7em;
    width: 160px;
    cursor: default;
    transition: all ease-in-out 200ms;
    font-family: "Montserrat";
  }
  .intro {
    font-size: 1.4em;
    color: aliceblue;
  }
  .centerBox {
    background-color: aquamarine;
    border-radius: 2%;
    background: -webkit-linear-gradient(aqua, rgb(0, 109, 173), aqua);
    width: 90%;
    left: 5%;
    position: relative;
  }
  .collg2 { width: 16.66666667%; }
  .collg8 { width: 66.66666667%; }
  .responseBox {
    color: rgb(255, 6, 6);
    font-size:1.6em;
    font-weight: 500;
  }
  .miscCont {
    background-color: aquamarine;
    border-radius: 2.5%;
    background: -webkit-linear-gradient(aqua, rgb(0, 109, 173), aqua);
    width: 90%;
    left: 5%;
    position: relative;
  }
  .unavail {
    font-size: 1.4em;
    color:aliceblue
  }
  .back {
    border-radius: 5%;
    position: absolute;
    background-color: rgb(64, 231, 209);
    padding: .4em;
    max-width: 85px;
    max-height: 35px;
    top: 1%;
    left: 3%;
    cursor: pointer;
  }
